---
import Section from "../Section.astro";
---

<Section title="Sobre mi">
    <article>
      
        <h2>Soy Técnico en Desarrollo de
            Aplicaciones Web. Deseo poder
            enfrentarme a nuevos desafíos queme
            ayuden en mi crecimiento profesional.
            Estoy plenamente dedicada al
            aprendizaje continuo y al desarrollo de
            soluciones innovadoras,
            contribuyendo así al éxito y avance de
            los proyectos en los que me involucro.
            </h2>
       
        <div>
          
    </article>
    
</Section>

